<div class="container-fluid">
  <div class="banner-list-covider">
    <img
      src="https://nhuxuan.thanhhoa.gov.vn/portal/Photos/2021-08-26/9f43439cdc43d0adz3.jpg"
      alt="khaulenh"
    />
  </div>
  <div class="login-header">
      <h1 class="login-header-title">LOGIN</h1>
  </div>
  <form action="" method="POST">
    <label for="username">username</label>
    <input type="text" name="username" id="username" />
    <label for="password">password</label>
    <input type="password" name="password" id="password" />
    <button>submit</button>
  </form>
</div>