<div class="container-fluid container-nav">
  <nav class="navbar navbar-expand-lg navbar-light nav-bar-background">
    <div class="container-fluid">
      <a class="navbar-brand navbar-brand-btn" href="/">Covid Manager</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item mr-4">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdown"
              role="button"
              data-toggle="dropdown"
              aria-expanded="false"
            >
              Feautures
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/manager/related-covid/list">List
                Covider</a>
              <div class="dropdown-divider"></div>
              {{#if_eq role "manager"}}
              <a class="dropdown-item" href="/manager/related-covid/add">Add
                Covider</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/">Change State Of Covider</a>
              <div class="dropdown-divider"></div>
              {{/if_eq}}
              <a class="dropdown-item" href="/list-product">Utensils Necessary</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/package-product">Utensils
                Necessary Packages</a>
              {{#if_eq role "manager"}}
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/manager/statistic">Statistical
                information</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/xxx">Payment Management</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/xxx">Storage</a>
              {{/if_eq}}
            </div>
          </li>
          {{#if_eq role "admin"}}
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdown"
              role="button"
              data-toggle="dropdown"
              aria-expanded="false"
            >
              Admin
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/admin/account">Quản Lý Manager</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/admin/location">Quản Lý Địa Điểm Cách Ly</a>
          </li>
          {{/if_eq}}
          {{!-- Phân Quyền Role nào thì mở role đó --}}
          {{#if_eq role "user"}}
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdown"
              role="button"
              data-toggle="dropdown"
              aria-expanded="false"
            >
              User
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/user/information">Thông tin cá nhân</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/user/cart">Giỏ Hàng Cá Nhân</a>
          </li>
          {{/if_eq}}
          <li class="nav-item mr-4">
            <a class="nav-link" href="/introduce">Introduce</a>
          </li>
          <li class="nav-item mr-4">
            <a class="nav-link" href="/faq">FAQ</a>
          </li>
          <li class="nav-item mr-4">
            <a class="nav-link" href="/docs">Documents</a>
          </li>
          <li class="nav-item mr-4">
            <a class="nav-link" href="/contact">Contact</a>
          </li>
        </ul>
      </div>
    </div>
    {{#unless authenticated}}
      <a
        class="btn btn-primary button header-button"
        href="/auth/login"
      >Login</a>
      <a
        class="btn btn-secondary button header-button"
        href="/auth/register"
      >Register</a>

    {{else}}
      <div class="header-user">
        <div class="header-user-avatar">
          <a href="/user">
            <img
              src="https://pdp.edu.vn/wp-content/uploads/2021/05/hinh-anh-avatar-cho-con-gai-1.jpg"
              alt="user-avatar"
            /></a>
        </div>
      </div>
      <a
        class="btn btn-secondary button header-button"
        href="/auth/logout"
      >Logout</a>
    {{/unless}}
  </nav>
</div>