<div class="container-fluid">
  <div class="banner-list-covider">
    <img
      src="https://nhuxuan.thanhhoa.gov.vn/portal/Photos/2021-08-26/84e1b1cd2e6ee1dz6.jpg"
      alt="khaulenh"
    />
  </div>
  <div class="card admin-account-card">
    <div class="card-header admin-account-header">
      <h4 class="card-title">Chỉnh sửa Địa Điểm Cách Ly/Điều Trị</h4>
      <a
        class="btn btn-primary button detail-covider-back"
        href="/admin/location"
        role="button"
      >Go back</a>
    </div>
    <div class="card-body">
      {{#if data}}
        <form
          enctype="multipart/form-data"
          class="add-covider"
          method="POST"
          action=""
        >
          <div class="form-group">
            <label for="formGroupExampleInput">Tên Địa Điểm Cách Ly/Điều Trị</label>
            <input
              type="text"
              class="form-control"
              id="formGroupExampleInput"
              placeholder=""
              value="{{data.ten}}"
              name="ten"
            />
          </div>
          <div class="form-group">
            <label for="formGroupExampleInput">Địa Chỉ Địa Điểm Cách Ly/Điều Trị</label>
            <input
              type="text"
              class="form-control"
              id="formGroupExampleInput"
              placeholder="Số 1, Đường số 1, Phường Bến Nghé, Quận 1, TP. Hồ Chí Minh"
              value="{{data.DieuTri_diachi}}"
              name="DieuTri_diachi"
            />
          </div>
          <div class="form-group">
            <label for="formGroupExampleInput2">Sức Chứa</label>
            <input
              type="number"
              class="form-control"
              id="formGroupExampleInput2"
              name="succhua"
              value="{{data.succhua}}"
            />
          </div>
          <div class="form-group">
            <label for="formGroupExampleInput2">Số Lượng Còn Trống</label>
            <input
              type="number"
              class="form-control"
              id="formGroupExampleInput2"
              name="controng"
              value="{{data.controng}}"
            />
          </div>
          <button
            type="submit"
            class="btn btn-primary button-edit-location"
          >Sửa</button>
        </form>
      {{/if}}
    </div>
  </div>
</div>