<div class="container-fluid">
  <div class="banner-list-covider">
    <img
      src="https://nhuxuan.thanhhoa.gov.vn/portal/Photos/2021-08-26/84e1b1cd2e6ee1dz6.jpg"
      alt="khaulenh"
    />
  </div>
  <div class="card admin-account-card">
    <div class="card-header admin-account-header">
      <h4 class="card-title">Bảng Thống Kê Người Quản Lý(Manager)</h4>
      <a
        class="btn btn-primary button detail-covider-back"
        href="/"
        role="button"
      >Go back</a>
    </div>
  </div>
</div>