{{#unless authenticated}}
  <div class="container-fluid full-screen">
    <div class="header-show">
      <header class="bgimg-1 w3-display-container w3-grayscale-min" id="home">
        <div class="w3-display-left w3-text-black" style="padding:48px">
          <span class="w3-jumbo w3-hide-small">NOW OR NEVER</span><br />
          <span class="w3-xxlarge w3-hide-large w3-hide-medium">Start something
            that matters</span><br />
          <span class="w3-large">Mỗi người dân hãy là một chiến sỹ trong công
            tác phòng, chống dịch covid-19.</span>
          <p><a
              href="#"
              class="w3-button w3-white w3-padding-large w3-large w3-margin-top w3-opacity w3-hover-opacity-off"
            >Hãy chung tay bảo vệ và đánh lùi covid</a></p>
        </div>
      </header>
    </div>

    <div class="w3-container" style="padding:128px 16px" id="feautures">
      <h3 class="w3-center">MAIN FEATURES</h3>
      <p class="w3-center w3-large">Some of the main features</p>
      <div class="main-feautures">
        <div class="w3-row" style="margin-top:64px">
          <a
            href="/manager/related-covid/list"
            class="w3-col s3 main-feature-item"
          >
            <i class="fa fa-bolt w3-text-orange w3-jumbo"></i>
            <p>List Covider</p>
          </a>
          <button
            type="button"
            class="w3-col s3 main-feature-item"
            data-bs-toggle="modal"
            data-bs-target="#modal-validation-login"
          >
            <i class="fa fa-heart w3-text-red w3-jumbo"></i>
            <p>Add Covider</p>
          </button>
          <a href="/xxx" class="w3-col s3 main-feature-item">
            <i class="fa fa-camera w3-text-yellow w3-jumbo"></i>
            <p>Change State Of Covider</p>
          </a>
          <a href="/xxx" class="w3-col s3 main-feature-item">
            <i class="fa fa-battery-full w3-text-green w3-jumbo"></i>
            <p>Utensils Necessary</p>
          </a>
        </div>

        <div class="w3-row" style="margin-top:64px">
          <a href="/xxx" class="w3-col s3 main-feature-item">
            <i class="fa fa-shield w3-text-orange w3-jumbo"></i>
            <p>Utensils Necessary Packages</p>
          </a>
          <a href="/xxx" class="w3-col s3 main-feature-item">
            <i class="fa fa-cloud w3-text-blue w3-jumbo"></i>
            <p>Statistical information</p>
          </a>
          <a href="/xxx" class="w3-col s3 main-feature-item">
            <i class="fa fa-globe w3-text-amber w3-jumbo"></i>
            <p>Payment Management</p>
          </a>
          <a href="/xxx" class="w3-col s3 main-feature-item">
            <i class="fa fa-hdd-o w3-text-cyan w3-jumbo"></i>
            <p>Storage</p>
          </a>
        </div>
      </div>
    </div>

    {{! Modal keu dang nhap }}
    <div
      class="modal fade"
      id="modal-validation-login"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Opp! Looks like you
              are not logged in</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            Vui lòng đăng nhập để sử dụng các dịch vụ bên dưới
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >Cancel</button>
            <a href="#" role="button" class="btn btn-primary">Login</a>
          </div>
        </div>
      </div>
    </div>

    <div class="w3-container" style="padding:128px 16px" id="about">
      <h3 class="w3-center">ABOUT THE PROJECT</h3>
      <p class="w3-center w3-large">Key features of our project</p>
      <div class="w3-row-padding w3-center" style="margin-top:64px">
        <div class="w3-quarter">
          <i class="fa fa-desktop w3-margin-bottom w3-jumbo w3-center"></i>
          <p class="w3-large">Support</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore.</p>
        </div>
        <div class="w3-quarter">
          <i class="fa fa-heart w3-margin-bottom w3-jumbo"></i>
          <p class="w3-large">
            Reputation</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore.</p>
        </div>
        <div class="w3-quarter">
          <i class="fa fa-diamond w3-margin-bottom w3-jumbo"></i>
          <p class="w3-large">
            Quick update</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore.</p>
        </div>
        <div class="w3-quarter">
          <i class="fa fa-cog w3-margin-bottom w3-jumbo"></i>
          <p class="w3-large">Correct</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore.</p>
        </div>
      </div>
    </div>

    <div class="w3-container w3-light-grey" style="padding:128px 16px">
      <div class="w3-row-padding">
        <div class="w3-col m6">
          <h3>We know what you need!</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod<br />tempor incididunt ut labore et dolore.</p>
          <p><a href="/work" class="w3-button w3-black"><i class="fa fa-th"></i>
              View Our Works</a></p>
        </div>
        <div class="w3-col m6">
          <img
            class="w3-image w3-round-large"
            src="https://moh.gov.vn/image/journal/article?img_id=1172485"
            alt="SolieuCovid"
            width="700"
            height="394"
          />
        </div>
      </div>
    </div>

    <div class="w3-container" style="padding:128px 16px" id="team">
      <h3 class="w3-center">MY TEAM</h3>
      <p class="w3-center w3-large">The ones who runs this project</p>
      <div class="w3-row-padding w3-grayscale" style="margin-top:64px">
        <div class="w3-col l3 m6 w3-margin-bottom">
          <div class="w3-card">
            <img
              src="https://toigingiuvedep.vn/wp-content/uploads/2021/05/hinh-chibi-buon-dep-nhat.jpg"
              alt="John"
              style="width:100%"
              class="team-avatar"
            />
            <div class="w3-container">
              <h3>Trịnh Văn Minh</h3>
              <p class="w3-opacity">Developer</p>
              <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse
                sodales pellentesque elementum.</p>
              <p><button class="w3-button w3-light-grey w3-block"><i
                    class="fa fa-envelope"
                  ></i>
                  Contact</button></p>
            </div>
          </div>
        </div>
        <div class="w3-col l3 m6 w3-margin-bottom">
          <div class="w3-card">
            <img
              src="http://anhnendep.net/wp-content/uploads/2018/10/hinh-anh-chibi-nam-cute-lanh-lung-de-thuong-02.jpg"
              alt="Jane"
              style="width:100%"
              class="team-avatar"
            />
            <div class="w3-container">
              <h3>Lê Quang Nam</h3>
              <p class="w3-opacity">Developer</p>
              <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse
                sodales pellentesque elementum.</p>
              <p><button class="w3-button w3-light-grey w3-block"><i
                    class="fa fa-envelope"
                  ></i>
                  Contact</button></p>
            </div>
          </div>
        </div>
        <div class="w3-col l3 m6 w3-margin-bottom">
          <div class="w3-card">
            <img
              src="https://hedieuhanh.com/wp-content/uploads/2019/08/anh-chibi-boy_120351444.png"
              alt="Mike"
              style="width:100%"
              class="team-avatar"
            />
            <div class="w3-container">
              <h3>Mike Ross</h3>
              <p class="w3-opacity">Web Designer</p>
              <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse
                sodales pellentesque elementum.</p>
              <p><button class="w3-button w3-light-grey w3-block"><i
                    class="fa fa-envelope"
                  ></i>
                  Contact</button></p>
            </div>
          </div>
        </div>
        <div class="w3-col l3 m6 w3-margin-bottom">
          <div class="w3-card">
            <img
              src="https://i.pinimg.com/564x/a2/2d/1d/a22d1d8a789a904187dba0f5240a5907.jpg"
              alt="Dan"
              style="width:100%"
              class="team-avatar"
            />
            <div class="w3-container">
              <h3>Dan Star</h3>
              <p class="w3-opacity">Designer</p>
              <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse
                sodales pellentesque elementum.</p>
              <p><button class="w3-button w3-light-grey w3-block"><i
                    class="fa fa-envelope"
                  ></i>
                  Contact</button></p>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
{{else}}
  <div class="container-fluid full-screen">
    <div class="header-show">
      <header class="bgimg-1 w3-display-container w3-grayscale-min" id="home">
        <div class="w3-display-left w3-text-black" style="padding:48px">
          <span class="w3-jumbo w3-hide-small">NOW OR NEVER</span><br />
          <span class="w3-xxlarge w3-hide-large w3-hide-medium">Start something
            that matters</span><br />
          <span class="w3-large">Mỗi người dân hãy là một chiến sỹ trong công
            tác phòng, chống dịch covid-19.</span>
          <p><a
              href="#"
              class="w3-button w3-white w3-padding-large w3-large w3-margin-top w3-opacity w3-hover-opacity-off"
            >Hãy chung tay bảo vệ và đánh lùi covid</a></p>
        </div>
      </header>
    </div>

    <div class="w3-container" style="padding:128px 16px" id="feautures">
      <h3 class="w3-center">MAIN FEATURES</h3>
      <p class="w3-center w3-large">Some of the main features</p>
      <div class="main-feautures">
        <div class="w3-row" style="margin-top:64px">
          <a
            href="/manager/related-covid/list"
            class="w3-col s3 main-feature-item"
          >
            <i class="fa fa-bolt w3-text-orange w3-jumbo"></i>
            <p>List Covider</p>
          </a>
          <a
            href="/manager/related-covid/add"
            class="w3-col s3 main-feature-item"
          >
            <i class="fa fa-heart w3-text-red w3-jumbo"></i>
            <p>Add Covider</p>
          </a>
          <a href="/xxx" class="w3-col s3 main-feature-item">
            <i class="fa fa-camera w3-text-yellow w3-jumbo"></i>
            <p>Change State Of Covider</p>
          </a>
          <a href="/xxx" class="w3-col s3 main-feature-item">
            <i class="fa fa-battery-full w3-text-green w3-jumbo"></i>
            <p>Utensils Necessary</p>
          </a>
        </div>

        <div class="w3-row" style="margin-top:64px">
          <a href="/xxx" class="w3-col s3 main-feature-item">
            <i class="fa fa-shield w3-text-orange w3-jumbo"></i>
            <p>Utensils Necessary Packages</p>
          </a>
          <a href="/xxx" class="w3-col s3 main-feature-item">
            <i class="fa fa-cloud w3-text-blue w3-jumbo"></i>
            <p>Statistical information</p>
          </a>
          <a href="/xxx" class="w3-col s3 main-feature-item">
            <i class="fa fa-globe w3-text-amber w3-jumbo"></i>
            <p>Payment Management</p>
          </a>
          <a href="/xxx" class="w3-col s3 main-feature-item">
            <i class="fa fa-hdd-o w3-text-cyan w3-jumbo"></i>
            <p>Storage</p>
          </a>
        </div>
      </div>
    </div>

    <div class="w3-container" style="padding:128px 16px" id="about">
      <h3 class="w3-center">ABOUT THE PROJECT</h3>
      <p class="w3-center w3-large">Key features of our project</p>
      <div class="w3-row-padding w3-center" style="margin-top:64px">
        <div class="w3-quarter">
          <i class="fa fa-desktop w3-margin-bottom w3-jumbo w3-center"></i>
          <p class="w3-large">Support</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore.</p>
        </div>
        <div class="w3-quarter">
          <i class="fa fa-heart w3-margin-bottom w3-jumbo"></i>
          <p class="w3-large">
            Reputation</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore.</p>
        </div>
        <div class="w3-quarter">
          <i class="fa fa-diamond w3-margin-bottom w3-jumbo"></i>
          <p class="w3-large">
            Quick update</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore.</p>
        </div>
        <div class="w3-quarter">
          <i class="fa fa-cog w3-margin-bottom w3-jumbo"></i>
          <p class="w3-large">Correct</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore.</p>
        </div>
      </div>
    </div>

    <div class="w3-container w3-light-grey" style="padding:128px 16px">
      <div class="w3-row-padding">
        <div class="w3-col m6">
          <h3>We know what you need!</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod<br />tempor incididunt ut labore et dolore.</p>
          <p><a href="/work" class="w3-button w3-black"><i class="fa fa-th"></i>
              View Our Works</a></p>
        </div>
        <div class="w3-col m6">
          <img
            class="w3-image w3-round-large"
            src="https://moh.gov.vn/image/journal/article?img_id=1172485"
            alt="SolieuCovid"
            width="700"
            height="394"
          />
        </div>
      </div>
    </div>

    <div class="w3-container" style="padding:128px 16px" id="team">
      <h3 class="w3-center">MY TEAM</h3>
      <p class="w3-center w3-large">The ones who runs this project</p>
      <div class="w3-row-padding w3-grayscale" style="margin-top:64px">
        <div class="w3-col l3 m6 w3-margin-bottom">
          <div class="w3-card">
            <img
              src="https://toigingiuvedep.vn/wp-content/uploads/2021/05/hinh-chibi-buon-dep-nhat.jpg"
              alt="John"
              style="width:100%"
              class="team-avatar"
            />
            <div class="w3-container">
              <h3>Trịnh Văn Minh</h3>
              <p class="w3-opacity">Developer</p>
              <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse
                sodales pellentesque elementum.</p>
              <p><button class="w3-button w3-light-grey w3-block"><i
                    class="fa fa-envelope"
                  ></i>
                  Contact</button></p>
            </div>
          </div>
        </div>
        <div class="w3-col l3 m6 w3-margin-bottom">
          <div class="w3-card">
            <img
              src="http://anhnendep.net/wp-content/uploads/2018/10/hinh-anh-chibi-nam-cute-lanh-lung-de-thuong-02.jpg"
              alt="Jane"
              style="width:100%"
              class="team-avatar"
            />
            <div class="w3-container">
              <h3>Lê Quang Nam</h3>
              <p class="w3-opacity">Developer</p>
              <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse
                sodales pellentesque elementum.</p>
              <p><button class="w3-button w3-light-grey w3-block"><i
                    class="fa fa-envelope"
                  ></i>
                  Contact</button></p>
            </div>
          </div>
        </div>
        <div class="w3-col l3 m6 w3-margin-bottom">
          <div class="w3-card">
            <img
              src="https://hedieuhanh.com/wp-content/uploads/2019/08/anh-chibi-boy_120351444.png"
              alt="Mike"
              style="width:100%"
              class="team-avatar"
            />
            <div class="w3-container">
              <h3>Mike Ross</h3>
              <p class="w3-opacity">Web Designer</p>
              <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse
                sodales pellentesque elementum.</p>
              <p><button class="w3-button w3-light-grey w3-block"><i
                    class="fa fa-envelope"
                  ></i>
                  Contact</button></p>
            </div>
          </div>
        </div>
        <div class="w3-col l3 m6 w3-margin-bottom">
          <div class="w3-card">
            <img
              src="https://i.pinimg.com/564x/a2/2d/1d/a22d1d8a789a904187dba0f5240a5907.jpg"
              alt="Dan"
              style="width:100%"
              class="team-avatar"
            />
            <div class="w3-container">
              <h3>Dan Star</h3>
              <p class="w3-opacity">Designer</p>
              <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse
                sodales pellentesque elementum.</p>
              <p><button class="w3-button w3-light-grey w3-block"><i
                    class="fa fa-envelope"
                  ></i>
                  Contact</button></p>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
{{/unless}}