<h1>Example App: Home</h1>
{{#unless authenticated}}
<h2>Login để thấy nhiều thứ hay ho và hấp dẫn, nhớ đăng ký kênh cho lần sau</h2>
{{else}}
<h2>1.2 Phân hệ Quản lý</h2>
<b>1.2.1 Quản lý danh sách người liên quan Covid-19</b>
<ul>
    <li>✓ Người liên quan Covid-19 bao gồm các thông tin cơ bản sau:
        <ul>
            <li>o Họ tên</li>
            <li>o Số CMND / Căn cước công dân</li>
            <li>o Năm sinh</li>
            <li>o Địa chỉ nơi ở (Tỉnh / Thành phố, Quận / Huyện và Phường / Xã)</li>
            <li>o Trạng thái hiện tại (F0 / F1 / F2 / F3)</li>
            <li>o Nơi đang điều trị / cách ly (cơ sở điều trị / cách ly)</li>
            <li>o Có liên quan với Người liên quan Covid-19 nào.</li>
            <li>o Lịch sử quá trình được quản lý (thay đổi trạng thái, chuyển nơi điều trị,…).</li>
        </ul>
    </li>
    <li><a href="/manager/related-covid/list">✓ Hiển thị danh sách</a></li>
    <li>✓ Xem chi tiết thông tin của người liên quan bao gồm danh sách người liên đới.</li>
    <li>✓ Tìm kiếm</li>
    <li>✓ Sắp xếp theo nhiều tiêu chí.</li>
</ul>
<b>1.2.2 Thêm người liên quan Covid-19 vào hệ thống</b>
<ul>
    <li>✓ Form thêm với đầy đủ thông tin cần thiết.</li>
    <li>✓ Có validation đầy đủ.</li>
</ul>
<b>1.2.3 Thay đổi trạng thái người liên quan Covid-19</b>
<ul>
    <li>✓ Chuyển trạng thái cần thiết như: F2 -> F1, F2 -> F0,… với các thông tin phù hợp (người liên quan phải thay đổi trạng thái theo).</li>
    <li>✓ Chuyển nơi điều trị / cách ly (ràng buộc về sức chứa).</li>
</ul>
<b>1.2.4 Quản lý các sản phẩm nhu yếu phẩm</b>
<ul>
    <li>
        ✓ Sản phẩm nhu yếu phẩm gồm các thông tin cơ bản
        <ul>
            <li>o Tên sản phẩm</li>
            <li>o Hình ảnh sản phẩm (nhiều hình)</li>
            <li>o Giá tiền</li>
            <li>o Đơn vị định lượng</li>
        </ul>
    </li>
    <li>✓ Hiển thị danh sách</li>
    <li>✓ Tìm kiếm, Sắp xếp, Lọc</li>
    <li>✓ Thêm, xóa, sửa (luôn kiểm tra ràng buộc)</li>
</ul>
<b>1.2.5 Quản lý các gói Nhu yếu phẩm</b>
<ul>
    <li>
        <ul>
            ✓ Gói Nhu yếu phẩm gồm các thông tin cơ bản sau:
            <li>o Tên gói</li>
            <li>o Danh sách các sản phẩm trong gói (tối thiểu 2 sản phẩm)</li>
            <li>o Mức giới hạn số lượng mỗi sản phẩm trong gói</li>
            <li>o Mức giới hạn gói cho mỗi người theo thời gian</li>
            <li>o Thời gian giới hạn (ngày, tuần, tháng)</li>
        </ul>
    </li>
    <li>✓ Hiển thị danh sách</li>
    <li>✓ Xem chi tiết: có thể xem chi tiết mỗi sản phẩm trong gói</li>
    <li>✓ Tìm kiếm, sắp xếp, lọc</li>
    <li>✓ Thêm, xóa, sửa (luôn kiểm tra ràng buộc)</li>
</ul>
<b>1.2.6 Thống kê thông tin</b>
<ul>
    <li>✓ Thống kê số lượng người ở từng trạng thái theo thời gian.</li>
    <li>✓ Thống kê các thông tin có thể như: số chuyển trạng thái, khỏi bệnh,…</li>
    <li>✓ Thống kê tiêu thụ các gói Nhu yếu phẩm</li>
    <li>✓ Thống kê tiêu thụ sản phẩm</li>
    <li>✓ Thống kê dư nợ, thanh toán</li>
</ul>
<b>1.2.7 Quản lý Thanh toán</b>
<ul>
    <li>✓ Thay đổi hạn mức thanh toán tối thiểu</li>
    <li>✓ Duyệt danh sách và gửi thông báo nhắc thanh toán</li>
</ul>
{{/unless}}