<div class="container-fluid">
  <div class="banner-list-covider">
    <img
      src="https://nhuxuan.thanhhoa.gov.vn/portal/Photos/2021-08-26/9f43439cdc43d0adz3.jpg"
      alt="khaulenh"
    />
  </div>
  <div class="list-product-header">
    <h1>Số Dư Tài Khoản</h1>
  </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table">
          <thead class="text-primary">
            <th width="40%">
              <strong>ID Tài Khoản</strong>
            </th>
            <th width="40%">
              <strong>Tên Ngân Hàng</strong>
            </th>
            <th>
              <strong>Số Dư</strong>
            </th>
          </thead>
          <tbody>
            <tr>
              <td>
                <strong>{{idWallet}}</strong>
              </td>
              <td>
                <strong>Agribank</strong>
              </td>
              <td>
                <strong>{{sodu}} vnđ</strong>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>