<div class="container-fluid">
  <div class="banner-list-covider">
    <img
      src="https://nhuxuan.thanhhoa.gov.vn/portal/Photos/2021-08-26/c74cffad295d4dddz4.jpg"
      alt="khaulenh"
    />
  </div>
  <div class="detail-covider-header">
    <h1>Đổi Mật Khẩu </h1>
    <a
      class="btn btn-primary button detail-covider-back"
      href="/user/information"
      role="button"
    >Go back</a>
  </div>
  <div>
    <form class="add-covider" method="POST" action="">
      <div class="form-group">
        <label for="formGroupExampleInput">UserName</label>
        <input
          type="text"
          class="form-control"
          id="formGroupExampleInput"
          placeholder="abcxyz"
          name="username"
        />
      </div>
      <div class="form-group">
        <label for="formGroupExampleInput">Mật khẩu cũ</label>
        <input
          type="password"
          class="form-control"
          id="formGroupExampleInput"
          placeholder="Nếu lần đầu thì để trống"
          name="password"
        />
      </div>
      <div class="form-group">
        <label for="formGroupExampleInput2">Mật khẩu mới</label>
        <input
          type="password"
          class="form-control"
          id="formGroupExampleInput2"
          placeholder="***********"
          name="newpassword"
        />
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">
          Đổi mật khẩu
        </button>
      </div>
    </form>
  </div>
</div>