<div class="container-fluid">
  <div class="banner-list-covider">
    <img
      src="https://nhuxuan.thanhhoa.gov.vn/portal/Photos/2021-08-26/67871893154d1d2dz2.jpg"
      alt="khaulenh"
    />
  </div>
  <div class="list-product-header">
    <h1>Thanh Toán</h1>
  </div>
  <div class="card">
    <div class="card-body list-product-features">
      <a
        class="btn btn-primary covid-list-btn-add btn-sm list-product-button"
        href="/user/cart"
        role="button"
      >Go Back</a>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table">
          <thead class="text-primary">
            <th width="40%">
              <strong>Tên Sản Phẩm</strong>
            </th>
            <th>
              <strong>Số Lượng</strong>
            </th>
            <th width="30%">
              <strong>Thành Tiền</strong>
            </th>
          </thead>
          <tbody>
            <tr>
              <td>
                <strong>Gói Số 1</strong>
              </td>
              <td>
                <strong>1</strong>
              </td>
              <td>
                <strong>120000 vnđ</strong>
              </td>
            </tr>
            <tr>
              <td>
                <strong>Gói Số 10</strong>
              </td>
              <td>
                <strong>2</strong>
              </td>
              <td>
                <strong>350000 vnđ</strong>
              </td>
            </tr>
            <tr>
              <td>
                <strong>Gói Số 4</strong>
              </td>
              <td>
                <strong>1</strong>
              </td>
              <td>
                <strong>333000 vnđ</strong>
              </td>
            </tr>
            <tr>
              <td>
                <strong></strong>
              </td>
              <td>
                <strong></strong>
              </td>
              <td>
                <strong>800000 vnđ</strong>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="card-body user-checkout-btn">
      {{! Onclick gửi API cho bên hệ thống thanh data }}
      <a
        href="/payment/checkout-main"
        class="btn btn-primary"
        role="button"
      >Thanh Toán</a>
    </div>
  </div>
</div>