<div class="container-fluid">
  <div class="banner-list-covider">
    <img
      src="https://nhuxuan.thanhhoa.gov.vn/portal/Photos/2021-08-26/67871893154d1d2dz2.jpg"
      alt="khaulenh"
    />
  </div>
  <div class="list-product-header">
    <h1>Liên Kết Thanh Toán</h1>
  </div>
  <div class="card">
    <div class="card-body list-product-features">
      <a
        class="btn btn-primary covid-list-btn-add btn-sm list-product-button"
        href="/user/cart"
        role="button"
      >Go Back</a>
    </div>
    <form
      enctype="multipart/form-data"
      class="add-covider"
      method="POST"
      action=""
    >
      <div class="form-group">
        <label for="formGroupExampleInput">ID Thanh Toán</label>
        <input
          type="number"
          class="form-control"
          id="formGroupExampleInput"
          placeholder="232"
          name="idWallet"
        />
      </div>
      <div class="form-group">
        <label for="formGroupExampleInput2">Mật Khẩu</label>
        <input
          type="password"
          class="form-control"
          id="formGroupExampleInput2"
          placeholder="9"
          name="passwordWallet"
        />
      </div>
      <button type="submit" class="btn btn-primary add-package-submit-1">Liên Kết Tài Khoản Chính</button>
    </form>

  </div>
</div>