<div class="container-fluid">
  <div class="banner-list-covider">
    <img
      src="https://nhuxuan.thanhhoa.gov.vn/portal/Photos/2021-08-26/c74cffad295d4dddz4.jpg"
      alt="khaulenh"
    />
  </div>
  <div class="list-product-header">
    <h1>Thông Tin Cá Nhân</h1>
  </div>
  <div class="card">
    <div class="card-header">
      <h4 class="card-title">Thông tin cơ bản</h4>
    </div>
    <div class="card-body list-product-features">
      <a
        class="btn btn-primary covid-list-btn-add btn-sm list-product-button"
        href="/auth/changepassword"
        role="button"
      >Đổi Mật Khẩu</a>
      <a
        class="btn btn-primary covid-list-btn-add btn-sm list-product-button"
        href="/payment"
        role="button"
      >Liên Kết Thanh Toán</a>
      <a
        class="btn btn-primary covid-list-btn-add btn-sm list-product-button"
        href="/user/notify-payment"
        role="button"
      >Thông Báo Thanh Toán</a>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table">
          <thead class="text-primary">
            <th width="30%">
              <strong>Tên</strong>
            </th>
            <th>
              <strong>Thông Tin</strong>
            </th>
          </thead>
          <tbody>
            <tr>
              <td>
                <strong>Họ và Tên</strong>
              </td>
              <td>
                <strong>Trịnh Văn Minh</strong>
              </td>
            </tr>
            <tr>
              <td>
                <strong>CMND/CCCD</strong>
              </td>
              <td>
                <strong>123456789</strong>
              </td>
            </tr>
            <tr>
              <td>
                <strong>Địa Chỉ</strong>
              </td>
              <td>
                <strong>Bình Thạnh - TPHCM</strong>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <h4 class="card-title">Lịch Sử Được Quản Lý</h4>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table">
          <thead class="text-primary">
            <th width="20%">
              <strong>Thời Gian</strong>
            </th>
            <th width="60%">
              <strong>Người Quản Lý(Manager)</strong>
            </th>
            <th>
              <strong>Tình Trạng</strong>
            </th>
          </thead>
          <tbody>
            <tr>
              <td>
                <strong>16/01/2022(11:52)</strong>
              </td>
              <td>
                <strong>Trịnh Văn Minh</strong>
              </td>
              <td>
                <strong>Active</strong>
              </td>
            </tr>
            <tr>
              <td>
                <strong>13/01/2022(10:12)</strong>
              </td>
              <td>
                <strong>Manager 1</strong>
              </td>
              <td>
                <strong>Disable</strong>
              </td>
            </tr>
            <tr>
              <td>
                <strong>02/01/2022(9:50)</strong>
              </td>
              <td>
                <strong>Manager 2</strong>
              </td>
              <td>
                <strong>Disable</strong>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <h4 class="card-title">Lịch Sử Tiêu Thụ Gói Nhu Yếu Phẩm</h4>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table">
          <thead class="text-primary">
            <th width="20%">
              <strong>Thời Gian</strong>
            </th>
            <th width="65%">
              <strong>Tên Gói</strong>
            </th>
            <th>
              <strong>Số Lượng</strong>
            </th>
          </thead>
          <tbody>
            <tr>
              <td>
                <strong>20/01/2022(15:29)</strong>
              </td>
              <td>
                <strong>Gói 2</strong>
              </td>
              <td>
                <strong>1</strong>
              </td>
            </tr>
            <tr>
              <td>
                <strong>20/01/2022(15:29)</strong>
              </td>
              <td>
                <strong>Gói 2</strong>
              </td>
              <td>
                <strong>1</strong>
              </td>
            </tr>
            <tr>
              <td>
                <strong>20/01/2022(15:29)</strong>
              </td>
              <td>
                <strong>Gói 2</strong>
              </td>
              <td>
                <strong>1</strong>
              </td>
            </tr>
            <tr>
              <td>
                <strong>20/01/2022(15:29)</strong>
              </td>
              <td>
                <strong>Gói 2</strong>
              </td>
              <td>
                <strong>1</strong>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <h4 class="card-title">Lịch Sử Thanh Toán</h4>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table">
          <thead class="text-primary">
            <th width="20%">
              <strong>Thời Gian</strong>
            </th>
            <th width="35%">
              <strong>Loại Hàng</strong>
            </th>
            <th>
              <strong>Số Lượng</strong>
            </th>
            <th width="15%">
              <strong>Giá</strong>
            </th>
            <th width="15%">
              <strong>Thành Tiền</strong>
            </th>
          </thead>
          <tbody>
            <tr>
              <td>
                <strong>19/01/2022(19:30)</strong>
              </td>
              <td>
                <strong>Gói Nhu Yếu Phẩm</strong>
              </td>
              <td>
                <strong>1</strong>
              </td>
              <td>
                <strong>120000 vnđ</strong>
              </td>
              <td>
                <strong>120000 vnđ</strong>
              </td>
            </tr>
            <tr>
              <td>
                <strong>19/01/2022(19:30)</strong>
              </td>
              <td>
                <strong>Gói Nhu Yếu Phẩm</strong>
              </td>
              <td>
                <strong>1</strong>
              </td>
              <td>
                <strong>120000 vnđ</strong>
              </td>
              <td>
                <strong>120000 vnđ</strong>
              </td>
            </tr>
            <tr>
              <td>
                <strong>19/01/2022(19:30)</strong>
              </td>
              <td>
                <strong>Gói Nhu Yếu Phẩm</strong>
              </td>
              <td>
                <strong>1</strong>
              </td>
              <td>
                <strong>120000 vnđ</strong>
              </td>
              <td>
                <strong>120000 vnđ</strong>
              </td>
            </tr>
            <tr>
              <td>
                <strong>19/01/2022(19:30)</strong>
              </td>
              <td>
                <strong>Gói Nhu Yếu Phẩm</strong>
              </td>
              <td>
                <strong>1</strong>
              </td>
              <td>
                <strong>120000 vnđ</strong>
              </td>
              <td>
                <strong>120000 vnđ</strong>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <h4 class="card-title">Bảng Thống Kê Số Dư</h4>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table">
          <thead class="text-primary">
            <th width="70%">
              <strong>Loại Hình</strong>
            </th>
            <th>
              <strong>Số Tiền</strong>
            </th>
          </thead>
          <tbody>
            <tr>
              <td>
                <strong>Dư Nợ</strong>
              </td>
              <td>
                <strong>{{sodu}} vnđ</strong>
              </td>
            </tr>
            <tr>
              <td>
                <strong>Thanh Toán</strong>
              </td>
              <td>
                <strong>0 vnđ</strong>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>