<div class="container-fluid">
  <div class="banner-list-covider">
    <img
      src="https://nhuxuan.thanhhoa.gov.vn/portal/Photos/2021-08-26/c74cffad295d4dddz4.jpg"
      alt="khaulenh"
    />
  </div>
  <div class="list-product-header">
    <h1>Thông Tin Cá Nhân</h1>
  </div>
  <div class="card">
    <div class="card-header">
      <h4 class="card-title">Lịch Sử Thanh Toán</h4>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table">
          <thead class="text-primary">
            <th width="70%">
              <strong>Lịch Sử Thanh Toán</strong>
            </th>
            <th>
              <strong>Số Tiền</strong>
            </th>
          </thead>
          <tbody>
            <tr>
              <td>
                <strong>Dư Nợ</strong>
              </td>
              <td>
                <strong>100.000.000 vnđ</strong>
              </td>
            </tr>
            <tr>
              <td>
                <strong>Thanh Toán</strong>
              </td>
              <td>
                <strong>19.999.999 vnđ</strong>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <h4 class="card-title">Bảng Thống Kê Số Dư</h4>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table">
          <thead class="text-primary">
            <th width="70%">
              <strong>Loại Hình</strong>
            </th>
            <th>
              <strong>Số Tiền</strong>
            </th>
          </thead>
          <tbody>
            <tr>
              <td>
                <strong>Dư Nợ</strong>
              </td>
              <td>
                <strong>100.000.000 vnđ</strong>
              </td>
            </tr>
            <tr>
              <td>
                <strong>Thanh Toán</strong>
              </td>
              <td>
                <strong>19.999.999 vnđ</strong>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>