<div class="container-fluid">
  <div class="banner-list-covider">
    <img
      src="https://nhuxuan.thanhhoa.gov.vn/portal/Photos/2021-08-26/84e1b1cd2e6ee1dz6.jpg"
      alt="khaulenh"
    />
  </div>
  <div class="list-product-header">
    <h1>Thông Báo Thanh Toán</h1>
  </div>
  <div class="card">
    <div class="card-body list-product-features">
      <a
        class="btn btn-primary covid-list-btn-add btn-sm list-product-button"
        href="/user/information"
        role="button"
      >Go Back</a>
      <a
        class="btn btn-primary covid-list-btn-add btn-sm list-product-button"
        href="/xxx"
        role="button"
      >Liên Kết Thanh Toán</a>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table">
          <thead class="text-primary">
            <th width="30%">
              <strong>Thông Báo ID</strong>
            </th>
            <th>
              <strong>Thông Tin</strong>
            </th width="50%">
            <th>
              <strong>Tình Trạng</strong>
            </th>
          </thead>
          <tbody>
            {{#each history}}
            <tr>
              <td>
                <strong>TB-{{this.id_history}}</strong>
              </td>
              <td>
                <strong>Thanh Toán Hóa Đơn HD-{{this.id_history}} - Gói Nhu Yếu Phẩm </strong>
              </td>
              <td>
                <strong>Xong</strong>
              </td>
            </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>