<div class="container-fluid">
  <div class="banner-list-covider">
    <img
      src="https://nhuxuan.thanhhoa.gov.vn/portal/Photos/2021-08-26/84e1b1cd2e6ee1dz6.jpg"
      alt="khaulenh"
    />
  </div>
  <div class="card">
    <div class="card-header">
      <h4 class="card-title">Thống Kê Thông Tin</h4>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table">
          <thead class="text-primary">
            <th width="70%">
              <strong>Bảng Thống Kê Người Dùng</strong>
            </th>
            <th>
              <strong>Số lượng</strong>
            </th>
          </thead>
          <tbody>
            <tr>
              <td>
                <strong>Tổng số người dùng</strong>
              </td>
              <td>
                <strong>{{totalUser}} 10</strong>
              </td>
            </tr>
            <tr>
              <td>
                <strong>Tổng số người dùng online</strong>
              </td>
              <td>
                <strong>{{totalUserOnline}} 1</strong>
              </td>
            </tr>
            <tr>
              <td>
                <strong>Tổng số người dùng offline</strong>
              </td>
              <td>
                <strong>{{totalUserOffline}} 9</strong>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div id="chart1" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table">
          <thead class="text-primary">
            <th width="70%">
              <strong>Bảng Thống Kê Tổng</strong>
            </th>
            <th>
              <strong>Số lượng</strong>
            </th>
          </thead>
          <tbody>
            <tr>
              <td>
                <strong>Số chuyển trạng thái</strong>
              </td>
              <td>
                <strong>1000</strong>
              </td>
            </tr>
            <tr>
              <td>
                <strong>Số lượng khỏi bệnh</strong>
              </td>
              <td>
                <strong>1923</strong>
              </td>
            </tr>
            <tr>
              <td>
                <strong>Số Lượng chưa khỏi</strong>
              </td>
              <td>
                <strong>2999</strong>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table">
          <thead class="text-primary">
            <th width="70%">
              <strong>Bảng Thống Kê Tiêu Thụ Gói Nhu Yếu Phẩm</strong>
            </th>
            <th>
              <strong>Số lượng</strong>
            </th>
          </thead>
          <tbody>
            <tr>
              <td>
                <strong>Tổng số Gói Nhu Yếu Phẩm</strong>
              </td>
              <td>
                <strong>100</strong>
              </td>
            </tr>
            <tr>
              <td>
                <strong>Số lượng còn lại</strong>
              </td>
              <td>
                <strong>99</strong>
              </td>
            </tr>
            <tr>
              <td>
                <strong>Số Lượng tiêu thụ</strong>
              </td>
              <td>
                <strong>1</strong>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table">
          <thead class="text-primary">
            <th width="70%">
              <strong>Bảng Thống Kê Tiêu Thụ Nhu Yếu Phẩm</strong>
            </th>
            <th>
              <strong>Số lượng</strong>
            </th>
          </thead>
          <tbody>
            <tr>
              <td>
                <strong>Tổng số lượng Nhu Yếu Phẩm</strong>
              </td>
              <td>
                <strong>10000</strong>
              </td>
            </tr>
            <tr>
              <td>
                <strong>Số lượng còn lại</strong>
              </td>
              <td>
                <strong>9999</strong>
              </td>
            </tr>
            <tr>
              <td>
                <strong>Số Lượng tiêu thụ</strong>
              </td>
              <td>
                <strong>1</strong>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table">
          <thead class="text-primary">
            <th width="70%">
              <strong>Bảng Thống Kê Nợ Nần</strong>
            </th>
            <th>
              <strong>Số lượng</strong>
            </th>
          </thead>
          <tbody>
            <tr>
              <td>
                <strong>Dư Nợ</strong>
              </td>
              <td>
                <strong>100.000.000 vnđ</strong>
              </td>
            </tr>
            <tr>
              <td>
                <strong>Thanh Toán</strong>
              </td>
              <td>
                <strong>19.999.999 vnđ</strong>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<script>
  $(function () {
    Highcharts.chart("chart1", {
        title: {
            text: "This is my first chart",
        },
        xAxis: {
            categories: ['Jan', "Feb", "Mar", "Apr", "May", "Jun",
                "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"]
        },
        yAxis: {
            title: {
                text: "Temperature (°C)"
            },
            plotLines: [{
                value: 0,
                width: 1,
                color: "#808080"
            }]
        },
        tooltip: {
            valueSuffix: "°C"
        },
        legend: {
            layout: "vertical",
            align: "right",
            verticalAlign: "middle",
            borderWidth: 0
        },
        series: [{
            data: [7.0, 6.9, 9.5, 14.5, 18.2, 21.5, 25.2, 26.5, 23.3, 18.3, 13.9, 9.6]
        }]
    });
});

</script>