<div class="container-fluid">
  <div class="banner-list-covider">
    <img
      src="https://nhuxuan.thanhhoa.gov.vn/portal/Photos/2021-08-26/84e1b1cd2e6ee1dz6.jpg"
      alt="khaulenh"
    />
  </div>
  <div class="card admin-account-card">
    <div class="card-header admin-account-header">
      <h4 class="card-title">Bảng Thống Kê Người Quản Lý(Manager)</h4>
      <a
        class="btn btn-primary button detail-covider-back"
        href="/"
        role="button"
      >Go back</a>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table">
          <thead class="text-primary">
            <th width="15%">
              <strong>Manager ID</strong>
            </th>
            <th>
              <strong>Tên Quản Lý</strong>
            </th>
            <th width="15%">
              <strong>Tình Trạng</strong>
            </th>
            <th width="30%">
              <strong>Các Chức Năng</strong>
            </th>
          </thead>
          <tbody>
            <tr>
              <td>
                <strong>MAN-01</strong>
              </td>
              <td>
                <strong>manager 1712601</strong>
              </td>
              <td>
                <strong>Online</strong>
              </td>
              <td>
                <a
                  class="btn btn-primary button detail-covider-back"
                  href="/admin/account/:id"
                  role="button"
                >Lịch Sử Hoạt Động</a>
                <button
                  type="button"
                  class="btn btn-primary button button-account-manager-detail"
                  {{! Onclick handle Gọi API change field tình trạng }}
                  onclick=""
                >Block</button>

              </td>
            </tr>
            <tr>
              <td>
                <strong>MAN-01</strong>
              </td>
              <td>
                <strong>manager 1712601</strong>
              </td>
              <td>
                <strong>Online</strong>
              </td>
              <td>
                <a
                  class="btn btn-primary button detail-covider-back"
                  href="/admin/account/:id"
                  role="button"
                >Lịch Sử Hoạt Động</a>
                <button
                  type="button"
                  class="btn btn-primary button button-account-manager-detail"
                  {{! Onclick handle Gọi API change field tình trạng }}
                  onclick=""
                >Block</button>

              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>