<div class="container-fluid">
  <div class="banner-list-covider">
    <img
      src="https://nhuxuan.thanhhoa.gov.vn/portal/Photos/2021-08-26/84e1b1cd2e6ee1dz6.jpg"
      alt="khaulenh"
    />
  </div>
  <div class="detail-covider-header">
    <h1>Lịch sử hoạt động của Trịnh Văn Minh</h1>
    <a
      class="btn btn-primary button detail-covider-back"
      href="/admin/account"
      role="button"
    >Go back</a>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table">
        <thead class="text-primary">
          <th width="15%">
            <strong>Manager ID</strong>
          </th>
          <th>
            <strong>Thời Gian</strong>
          </th>
          <th width="20%">
            <strong>Thao Tác</strong>
          </th>
          <th width="30%">
            <strong>Thực Thể</strong>
          </th>
        </thead>
        <tbody>
          <tr>
            <td>
              <strong>MAN-01</strong>
            </td>
            <td>
              <strong>Hôm nay 06:01</strong>
            </td>
            <td>
              <strong>Tạo</strong>
            </td>
            <td>
              <strong>Nhu Yếu Phẩm</strong>
            </td>
          </tr>
          <tr>
            <td>
              <strong>MAN-01</strong>
            </td>
            <td>
              <strong>Hôm qua 23:31</strong>
            </td>
            <td>
              <strong>Xóa</strong>
            </td>
            <td>
              <strong>Nhu Yếu Phẩm</strong>
            </td>
          </tr>
          <tr>
            <td>
              <strong>MAN-01</strong>
            </td>
            <td>
              <strong>Hôm qua 23:29</strong>
            </td>
            <td>
              <strong>Sửa</strong>
            </td>
            <td>
              <strong>Nhu Yếu Phẩm</strong>
            </td>
          </tr>
          <tr>
            <td>
              <strong>MAN-01</strong>
            </td>
            <td>
              <strong>Hôm qua 21:02</strong>
            </td>
            <td>
              <strong>Tạo</strong>
            </td>
            <td>
              <strong>Nhu Yếu Phẩm</strong>
            </td>
          </tr>
          <tr>
            <td>
              <strong>MAN-01</strong>
            </td>
            <td>
              <strong>Hôm qua 18:21</strong>
            </td>
            <td>
              <strong>Đã Hoàn Thành</strong>
            </td>
            <td>
              <strong>Thanh Toán</strong>
            </td>
          </tr>
          <tr>
            <td>
              <strong>MAN-01</strong>
            </td>
            <td>
              <strong>19/01/2022 (18:21)</strong>
            </td>
            <td>
              <strong>Tạo</strong>
            </td>
            <td>
              <strong>Nhu Yếu Phẩm</strong>
            </td>
          </tr>
          <tr>
            <td>
              <strong>MAN-01</strong>
            </td>
            <td>
              <strong>19/01/2022 (11:19)</strong>
            </td>
            <td>
              <strong>Tạo</strong>
            </td>
            <td>
              <strong>Nhu Yếu Phẩm</strong>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>