

<h1>Thêm thông tin người liên quan covid </h1>
  <form>
  <div class="form-group">
    <label for="formGroupExampleInput">Họ tên</label>
    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input">
  </div>
  <div class="form-group">
    <label for="formGroupExampleInput2">Số CMND / Căn cước công dân</label>
    <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input">
  </div>
    <div class="form-group">
    <label for="formGroupExampleInput2">Năm sinh</label>
    <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input">
  </div>  
  <div class="form-group">
    <label for="formGroupExampleInput2">Địa chỉ nơi ở</label>
    <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input">
  </div>  
  <div class="form-group">
    <label for="formGroupExampleInput2">Trạng thái hiện tại </label>
    <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input">
  </div>  
  <div class="form-group">
    <label for="formGroupExampleInput2">Nơi đang điều trị</label>
    <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input">
  </div>  
  <div class="form-group">
    <label for="formGroupExampleInput2">Số CMND / Căn cước công dân</label>
    <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input">
  </div>
</form>
</ul>

