<div class="container-fluid">
  <div class="banner-list-covider">
    <img
      src="https://nhuxuan.thanhhoa.gov.vn/portal/Photos/2021-08-26/c74cffad295d4dddz4.jpg"
      alt="khaulenh"
    />
  </div>
  <div class="detail-covider-header">
    <h1>Thay Đổi Hạn Mức Thanh Toán</h1>
    <a
      class="btn btn-primary button detail-covider-back"
      href="/manager/payment"
      role="button"
    >Go back</a>
  </div>
  <form
    name="formAddCovider"
    onsubmit="return validateFormAddCovider()"
    class="add-covider"
    method="POST"
    action=""
  >
    <div class="form-group">
      <label for="formGroupExampleInput">Họ tên</label>
      <input
        type="text"
        class="form-control"
        id="formGroupExampleInput"
        placeholder="Trịnh Văn Minh"
        name="hoten"
      />
    </div>
    <div class="form-group">
      <label for="formGroupExampleInput2">Số CMND / Căn cước công dân</label>
      <input
        type="number"
        class="form-control"
        id="formGroupExampleInput2"
        placeholder="245xxxxxx"
        name="cccd"
      />
    </div>
   
    <button type="submit" class="btn btn-primary add-covider-submit">Thay Đổi</button>
  </form>
</div>

{{!-- <script>
  function validateFormAddCovider() { let hoten =
  document.forms["formAddCovider"]["hoten"].value; let cccd =
  document.forms["formAddCovider"]["cccd"].value; let namsinh =
  document.forms["formAddCovider"]["namsinh"].value; let diachi =
  document.forms["formAddCovider"]["diachi"].value; let trangthai =
  document.forms["formAddCovider"]["trangthai"].value; let dieutri_id =
  document.forms["formAddCovider"]["dieutri_id"].value; let lichsu =
  document.forms["formAddCovider"]["lichsu"].value; if (hoten == "") {
  alert("Vui lòng nhập tên bệnh nhân"); return false; } if (cccd == "") {
  alert("Vui lòng nhập số CMND / Căn cước công dân"); return false; } if
  (namsinh == "") { alert("Vui lòng nhập năm sinh"); return false; } if (diachi
  == "") { alert("Vui lòng nhập địa chỉ nơi ở"); return false; } if (trangthai
  == "") { alert("Vui lòng nhập trạng thái hiện tại"); return false; } if
  (dieutri_id == "") { alert("Vui lòng nhập nơi điều trị"); return false; } if
  (lichsu == "") { alert("Vui lòng nhập lịch sử quá trình được quản lý"); return
  false; } return true; }
</script> --}}