<div class="container-fluid">
  <div class="banner-list-covider">
    <img
      src="https://nhuxuan.thanhhoa.gov.vn/portal/Photos/2021-08-26/c74cffad295d4dddz4.jpg"
      alt="khaulenh"
    />
  </div>
  <div class="card admin-account-card">
    <div class="card-header admin-account-header">
      <h4 class="card-title">Quản Lý Thanh Toán</h4>
      <a
        class="btn btn-primary button detail-covider-back"
        href="/"
        role="button"
      >Go back</a>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table">
          <thead class="text-primary">
            <th width="50%">
              <a href="/manager/payment/level" role="button" class="btn btn-primary">Thay Đổi Hạn Mức Thanh Toán Tối Thiểu</a>
            </th>
            <th>
              <a href="/manager/payment/list" role="button" class="btn btn-primary">Duyệt Danh Sách và Gửi Thông Báo</a>
            </th>
          </thead>
        </table>
      </div>
    </div>
  </div>
</div>
{{! Path: views/manager/paymentManagement.hbs }}
{{! Language: handlebars }}