.covid-list-nav {
  display: flex;
}

.banner-list-covider{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.covid-list-btn-add {
  height: 35px;
  margin: 10px 0;
  padding: 6px 10px;
  font-size: 14px;
  justify-content: center;
}

.covid-list-select {
  width: 150px;
  height: 35px;
  margin: 10px 20px;
  padding: 6px 10px;
  font-size: 14px;
  justify-content: center;
  background-color: rgb(18, 123, 254);
  color: white;
}

.covid-list-pagination {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

/* Detail Covider */

.detail-covider-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.detail-covider-back {
  width: 200px;
  height: 35px;
  margin: auto 0;
}

.detail-covid-table {
  width: 100%;
  margin: 20px 0 50px 0;
}

.detail-covider-lienquan {
  width: 100%;
  margin: 20px 0 50px 0;
}

/* Add Covider  */
.add-covider {
  margin: 20px 0 50px 0;
}

.add-covider-submit {
  display: flex;
  width: 160px;
  height: 35px;
  margin: 40px auto;
}
